<footer class="footer">
    <img src="{{ asset('img/logo.png') }}" alt="{{ title }}" class="footer__logo">
    <p class="footer__copyright">© 2017 House of van Schneider LLC</p>
    <p class="footer__mention">All rights reserved.</p>
</footer>