<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="{{ url('index') }}" title="{{ title }}">
                <img src="{{ asset('img/logo.png') }}" alt="{{ title }}">
            </a>
        </div>

        <nav class="header__nav">
            <ul>
                <li class="header__nav__item {{ page == 'pictures' ? 'header__nav__item--active' : '' }}">
                    <a href="{{ url('pictures') }}" class="header__nav__link" title="Pictures">Pictures</a>
                </li>
                
                <li class="header__nav__item {{ page == 'collections' ? 'header__nav__item--active' : '' }}">
                    <a href="{{ url('collections') }}" class="header__nav__link" title="Collections">Collections</a>
                </li>

                <li class="header__nav__item {{ page == 'about' ? 'header__nav__item--active' : '' }}">
                    <a href="{{ url('about') }}" class="header__nav__link" title="About">About</a>
                </li>

                <li class="header__nav__item {{ page == 'contact' ? 'header__nav__item--active' : '' }}">
                    <a href="{{ url('contact') }}" class="header__nav__link" title="Contact">Contact</a>
                </li>

                <li class="header__nav__item header__nav__item--search">
                    <a href="#" class="header__nav__link" title="Search"><i class="zmdi zmdi-search"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="search">
    <a href="#" class="search__close"><i class="zmdi zmdi-close"></i></a>

    <div class="search__content">
        <div class="search__input">
            <input type="search" name="search" placeholder="Just type here..." class="search__input__input">
        </div>

        <div class="search__results">

        </div>
    </div>
</div>