.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.about__pictures,
.about__content {
    width: 50%;
    transform: translateX(-20px);
    opacity: 0;
}

.about__pictures {
    padding-right: 20px;
    animation: fade-in 0.5s $easing forwards 0.3s;

    img {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    img:last-child {
        margin-bottom: 0px;
    }
}

.about__content {
    padding-left: 20px;
    animation: fade-in 0.5s $easing forwards 0.35s;

    h2 {
        font-size: 1.7em;
        margin-bottom: 30px;
    }

    p {
        font-size: 1.14em;
        line-height: 1.4;
        margin-bottom: 30px;
    }

    p:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: $tablet) {
    .about {
        flex-direction: column;
    }

    .about__pictures,
    .about__content {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about__content {
        padding-top: 40px;
    }
}