.login-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    background-color: $white;
    box-shadow: $box-shadow;

    h1 {
        margin-bottom: 20px;
        color: $black;
    }
}

.login-form__errors {
    margin-bottom: 20px;
    color: $danger-color;
}

.form-group {
    margin-bottom: 16px;

    img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    label, input, textarea {
        display: block;
        width: 100%;
    }

    label {
        margin-bottom: 6px;
        font-size: 1em;
        color: $black;
    }

    textarea {
        min-height: 120px;
    }

    input, textarea, select {
        border: 1px solid $athens-gray;
        border-radius: $border-radius;
        padding: 10px;
        font-size: 1em;
        color: $black;
        transition: $transition;
        background-color: $white;

        &:focus {
            border-color: $main-color;
        }
    }

    select {
        height: 40px;
        min-width: 200px;
    }
}

button[type="submit"] {
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border: none;
    background-color: $main-color;
    color: $white;
    transition: $transition;
    font-size: 1em;
    border-radius: $border-radius;

    &:hover {
        cursor: pointer;
        background-color: $main-color-hover;
    }
}

.login-form {
    button[type="submit"] {
        width: 100%;
    }
}

.form-group-errors {    
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    li {
        list-style: none;
        color: $danger-color;
        font-size: 0.9em;
    }
}

.form-group-errors + input, .form-group-errors + textarea, .form-group-errors + select {
    border-color: $danger-color;
}

.form-tags {
    position: relative;

    input {
        width: 100% !important;
        padding: 10px !important;
    }

    ul.ui-autocomplete {
        position: absolute;
        top: 100%;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        li.ui-menu-item {
            display: block;

            a {
                display: block;
                background-color: $white;
                padding: 8px 12px;
                color: $black;

                &:before {
                    content: '#';
                    display: inline-block;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $grey;
                }
            }
        }
    }

    .taggle_list {
        li.taggle {
            display: inline-block;
            background-color: $main-color;
            padding: 6px 12px;
            color: $white;
            border-radius: $border-radius;
            margin-right: 5px;
            margin-bottom: 4px;

            button.close {
                margin-left: 4px;
                border: none;
                background: none;
                color: $white;
                font-size: 1em;

                &:focus, &:active {
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        li:last-child {
            margin-top: 6px;
        }
    }

    .taggle_placeholder,
    .ui-helper-hidden-accessible,
    .taggle_sizer {
        display: none;
    }
}
