.grid {
    padding: 160px 0px;
    text-align: center;

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    @for $i from 1 to 100 {
        .grid__block:nth-child(#{$i}) {
            .grid__item {
                animation-name: fade-in;
                animation-duration: 0.4s;
                animation-timing-function: $easing;
                animation-fill-mode: forwards;
                animation-delay: #{($i * 0.08) + 0.3}s;
            }
        }
    }
}

.grid__block {
    width: 33.33%;
    height: 380px;
    padding: 20px;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.grid__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);

    &:hover {
        box-shadow: $box-shadow-hover;
    }
}

.grid__link {
    position: relative;
    margin-top: 60px;
    display: inline-block;
    color: $tundora;
    border: 1px solid $tundora;
    padding: 14px 24px;
    transition: color 0.5s $easing;
    z-index: 10;

    &.grid__link--more {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: left;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:after {
            content: '→';
            display: inline-block;
            padding-left: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:after {
                transform: translateX(4px);
            }

            &:before {
                transform: scaleX(1);
            }
        }
    }

    &.grid__link--next {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: left;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:after {
            content: '→';
            display: inline-block;
            padding-left: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:after {
                transform: translateX(4px);
            }

            &:before {
                transform: scaleX(1);
            }
        }
    }

    &.grid__link--prev {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: right;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:before {
            content: '←';
            display: inline-block;
            padding-right: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:before {
                transform: translateX(-4px);
            }

            &:after {
                transform: scaleX(1);
            }
        }

        & + .grid__link--next {
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: $desktop) {
    .grid__block {
        width: 50%;
        height: 340px;
    }
}

@media screen and (max-width: $tablet) {
    .grid__block {
        width: 100%;
        height: 380px;
    }
}

@media screen and (max-width: $phone) {
    .grid__block {
        width: 100%;
        height: 340px;
    }
}