.jumbotron {
    padding: 100px 0px 160px 0px;
    background-color: $grey;
}

.jumbotron--small {
    padding: 80px 0px 140px 0px;

    .jumbotron__title {
        font-size: 3.4em;
    }
}

.jumbotron--single {
    padding: 40px 0px 100px 0px;
    text-align: center;

    .jumbotron__picture {
        width: 100%;
        height: auto;
    }
}

.jumbotron__title {
    font-family: $heading-font;
    letter-spacing: -1px;
    font-size: 3em;
    line-height: 1.3;
    transform: translateX(-20px);
    opacity: 0;
    animation: fade-in 0.6s $easing forwards 0.3s;

    strong {
        color: $main-color;
        font-weight: normal;
    }

    & + .jumbotron__link {
        margin-top: 40px;
    }
}

.jumbotron__description {
    color: $tundora;
    font-size: 1.1em;
    margin-top: 6px;
    transform: translateX(-20px);
    opacity: 0;
    line-height: 1.4;
    animation: fade-in 0.6s $easing forwards 0.35s;
}

.jumbotron__title--hashtag:before {
    content: '#';
    display: inline-block;
}

.jumbotron__link {
    display: inline-block;
    color: $tundora;
    font-size: 1.1em;
    transform: translateX(-20px);
    opacity: 0;
    animation: fade-in 0.6s $easing forwards 0.35s;

    &:after {
        content: '→';
        display: inline-block;
        padding-left: 8px;
        transition: transform 0.5s $easing;
    }

    &:hover {
        &:after {
            transform: translateX(4px);
        }
    }
}