.list {
    padding: 120px 0px 160px 0px;
    text-align: center;

    a:last-child .list__item {
        margin-bottom: 0px;
    }

    @for $i from 1 to 100 {
        a:nth-child(#{$i}) {
            .list__item {
                animation-name: fade-in;
                animation-duration: 0.4s;
                animation-timing-function: $easing;
                animation-fill-mode: forwards;
                animation-delay: #{($i * 0.08) + 0.3}s;
            }
        }
    }
}

.list__item {
    margin-bottom: 40px;
    text-align: left;
    transform: translateX(-20px);
    opacity: 0;

    &:hover {
        .list__item__title {
            color: $main-color;
            transform: translateX(20px);
        }

        .list__item__description {
            transform: translateX(24px);
        }
    }
}

.list__item__title {
    font-family: $heading-font;
    font-size: 3em;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out, transform 0.4s $easing;
}

.list__item__description {
    font-size: 1.2em;
    color: $tundora;
    transition: transform 0.3s $easing 0.05s;
}

.list__link {
    position: relative;
    margin-top: 60px;
    display: inline-block;
    color: $tundora;
    border: 1px solid $tundora;
    padding: 14px 24px;
    transition: color 0.5s $easing;
    z-index: 10;

    &.list__link--more {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: left;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:after {
            content: '→';
            display: inline-block;
            padding-left: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:after {
                transform: translateX(4px);
            }

            &:before {
                transform: scaleX(1);
            }
        }
    }

    &.list__link--next {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: left;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:after {
            content: '→';
            display: inline-block;
            padding-left: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:after {
                transform: translateX(4px);
            }

            &:before {
                transform: scaleX(1);
            }
        }
    }

    &.list__link--prev {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $tundora;
            transform-origin: right;
            transform: scaleX(0);
            z-index: -1;
            transition: transform 0.5s $easing;
        }

        &:before {
            content: '←';
            display: inline-block;
            padding-right: 8px;
            transition: transform 0.5s $easing;
        }

        &:hover {
            color: $white;

            &:before {
                transform: translateX(-4px);
            }

            &:after {
                transform: scaleX(1);
            }
        }

        & + .grid__link--next {
            margin-left: 20px;
        }
    }
}