.live-markdown {
    width: 100%;
    height: 75vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.live-markdown__input,
.live-markdown__output {
    width: calc(50% - 10px);
    padding: 25px;
    height: 100%;
    background-color: $white;
    border: 1px solid $athens-gray;
    border-radius: $border-radius;
}

.live-markdown__input {
    margin-right: 10px;

    textarea {
        width: 100%;
        height: 100%;
        font-size: 1em;
        border: none;
        resize: none;
        overflow-y: scroll;
    }
}

.live-markdown__output {
    position: relative;
    margin-left: 10px;
    padding-bottom: 0px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1));
    }
}

.live-markdown__output__content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;

    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.14em;
        line-height: 1.4;
        margin-bottom: 30px;
    }

    p:last-child {
        margin-bottom: 0px;
    }
}