.search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.96);
    z-index: $zindex-5;
    opacity: 0;
    will-change: transform;
    transition: all 0.4s $easing;
    pointer-events: none;
}

.search--active {
    pointer-events: all;
}

.search--active {
    opacity: 1;
    transition: all 0.6s $easing;
}

.search__close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: $zindex-5;
    color: $white;
    font-size: 2em;
}

.search__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px;
}

.search__input {
    position: absolute;
    top: 30px;
    right: 0;
    left: 30px;
    z-index: $zindex-4;

    input[type="search"] {
        display: block;
        width: 100%;
        background: transparent;
        -webkit-appearance: textfield;
        outline: 0;
        border: none;
        padding: 60px 30px;
        color: $white;
        font-size: 3em;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
}

.search__results {
    width: 100%;
    padding-top: 140px;
    overflow-y: scroll;
    padding-left: 30px;
    height: calc(100vh - 40px);

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            transform: translateX(30px);
            opacity: 0;
        }

        @for $i from 1 to 100 {
            li:nth-child(#{$i}) {
                animation-name: fade-in;
                animation-duration: 0.3s;
                animation-timing-function: $easing;
                animation-fill-mode: forwards;
                animation-delay: #{($i * 0.12) + 0.05}s;
            }
        }
    }
}

.search__item {
    padding: 30px;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20px;
    color: $white;
    text-align: center;
}

.search__link {
    width: 100%;

    &:hover {
        .search__picture {
            background-size: 140%;
        }

        .search__title {
            color: $main-color;
        }
    }
}

.search__picture {
    width: 100%;
    height: 210px;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
    will-change: background-size;
}

.search__title {
    color: $white;
    line-height: 1.6;
    font-size: 2em;
    margin: 25px 0px 0px 0px;
    transition: color 0.4s $easing;
    font-family: $heading-font;
}

.search__date {
    color: $white;
    font-size: 1em;
    margin: 5px 0px 0px 0px;
}

@media screen and (min-width: $wide-desktop) {
    .search__picture {
        height: 250px;
    }
}

@media screen and (max-width: $tablet) {
    .search__item {
        width: 100%;
    }
}