.single {
    padding: 40px 0px 100px 0px;
}

.single__title {
    font-family: $heading-font;
    font-size: 3em;
    margin-bottom: 4px;
}

.single__tags {
    margin-bottom: 4px;
}

.single__tags__tag {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.1em;

    a:before {
        content: '#';
        display: inline-block;
    }
}

.single__meta {
    font-size: 1em;
    margin-bottom: 20px;
}

.single__description {
    font-size: 1.2em;
    line-height: 1.5;
}