{% extends 'layouts/admin.twig' %}

{% block content %}

    <form action="{{ url('admin.about') }}" method="POST">
        <h1 class="admin-content__title">About me <button type="submit" class="btn btn-primary">Submit</button></h1>

        <div class="live-markdown">
            <div class="live-markdown__input">
                <textarea name="input">{{ about.value }}</textarea>
            </div>

            <div class="live-markdown__output">
                <div class="live-markdown__output__content"></div>
            </div>
        </div>
    </form>

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
    <script src="{{ asset('js/live-markdown.min.js') }}"></script>
{% endblock %}
