{% extends 'layouts/admin.twig' %}

{% block content %}
    <h1 class="admin-content__title">Collections <a href="{{ url('admin.collections.store') }}" title="Add new" class="admin-content__add">Add new</a></h1>

    <div class="admin-grid admin-grid--small">
        {% for collection in collections %}
            <div class="admin-grid__item">
                <div class="admin-grid__card">
                    <h2 class="admin-grid__card__title">{{ excerpt(collection.title, 20) }}</h2>
                    <p class="admin-grid__card__description">{{ excerpt(collection.description, 80) }}</p>
                    <span class="admin-grid__card__date moment-date">{{ collection.created_at }}</span>

                    <div class="admin-grid__card__actions">
                        <a title="Edit collection" href="{{ url('admin.collections.edit', { 'id': collection.id }) }}"><i class="zmdi zmdi-edit"></i></a>
                        <a title="Delete collection" href="{{ url('admin.collections.delete', { 'id': collection.id }) }}"><i class="zmdi zmdi-delete"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

