{% extends 'layouts/admin.twig' %}

{% block content %}
    <h1 class="admin-content__title">Add new collection</h1>

    <div class="admin-form">
        {{ form_start(collection_form) }}
            <div class="form-group">
                {{ form_label(collection_form.title) }}
                {% if form_errors(collection_form.title) %}
                    <div class="form-group-errors">
                        {{ form_errors(collection_form.title) }}
                    </div>
                {% endif %}
                {{ form_widget(collection_form.title, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_label(collection_form.description) }}
                {% if form_errors(collection_form.description) %}
                    <div class="form-group-errors">
                        {{ form_errors(collection_form.description) }}
                    </div>
                {% endif %}
                {{ form_widget(collection_form.description, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_widget(collection_form.submit, { attr: { class: 'btn btn-primary' } }) }}
            </div>

        {{ form_end(collection_form) }}
    </div>
{% endblock %}

