{% extends 'layouts/admin.twig' %}

{% block content %}
    <h1 class="admin-content__title">Pictures <a href="{{ url('admin.pictures.store') }}" title="Add new" class="admin-content__add">Add new</a></h1>

    <div class="admin-grid admin-grid--pictures">
        {% for picture in pictures %}
            <div class="admin-grid__item">
                <div class="admin-grid__card">
                    <div class="admin-grid__card__picture" style="background-image: url('{{ uploads(picture.media) }}');"></div>
                    <h2 class="admin-grid__card__title">{{ excerpt(picture.title, 20) }}</h2>
                    <p class="admin-grid__card__description">{{ excerpt(picture.description, 80) }}</p>
                    <span class="admin-grid__card__date moment-date">{{ picture.created_at }}</span>

                    <div class="admin-grid__card__actions">
                        <a title="Edit picture" href="{{ url('admin.pictures.edit', { 'id': picture.id }) }}"><i class="zmdi zmdi-edit"></i></a>
                        <a title="Delete picture" href="{{ url('admin.pictures.delete', { 'id': picture.id }) }}"><i class="zmdi zmdi-delete"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

