{% extends 'layouts/admin.twig' %}

{% block content %}
    <h1 class="admin-content__title">Edit picture</h1>

    <div class="admin-form">
        {{ form_start(picture_form) }}
            <div class="form-group">
                {{ form_label(picture_form.title) }}
                {% if form_errors(picture_form.title) %}
                    <div class="form-group-errors">
                        {{ form_errors(picture_form.title) }}
                    </div>
                {% endif %}
                {{ form_widget(picture_form.title, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_label(picture_form.description) }}
                {% if form_errors(picture_form.description) %}
                    <div class="form-group-errors">
                        {{ form_errors(picture_form.description) }}
                    </div>
                {% endif %}
                {{ form_widget(picture_form.description, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                <label>Tags</label>
                <div class="form-tags" id="form-tags" data-source="{{ tags }}"></div>
            </div>

            <div class="form-group">
                {{ form_label(picture_form.collection) }}
                {% if form_errors(picture_form.collection) %}
                    <div class="form-group-errors">
                        {{ form_errors(picture_form.collection) }}
                    </div>
                {% endif %}
                {{ form_widget(picture_form.collection, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_label(picture_form.media) }}
                {% if form_errors(picture_form.media) %}
                    <div class="form-group-errors">
                        {{ form_errors(picture_form.media) }}
                    </div>
                {% endif %}
                <img src="{{ uploads(media) }}">
                {{ form_widget(picture_form.media, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_widget(picture_form.submit, { attr: { class: 'btn btn-primary' } }) }}
            </div>

        {{ form_end(picture_form) }}
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ asset('js/jquery-1.10.1.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/taggle.min.js') }}"></script>
    <script src="{{ asset('js/admin-taggle.js') }}"></script>
{% endblock %}

