* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body--blocked {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    color: $black;
    font-family: $heading-font;
}

.admin {
    h1, h2, h3, h4, h5, h6 {
        font-family: $main-font;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    font-size: 1em;
    text-decoration: none;
    color: $main-color;
    transition: $transition;

    &:hover {
        color: $main-color-hover;
        transition: $transition;
    }
}

input:focus, textarea:focus, input:active, textarea:active, select:active, select:focus {
    outline: none;
}

::selection {
    background-color: $main-color;
    color: $white;
}

::-moz-selection {
    background-color: $main-color;
    color: $white;
}

.separator {
    width: 100%;
    height: 2px;
    border: none;
    background-color: $athens-gray;
}

.section {
    padding: 80px 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

@media screen and (max-width: $wide-desktop) {
    .container {
        width: 980px;
    }
}

@media screen and (max-width: $desktop) {
    .container {
        width: 740px;
    }
}

@media screen and (max-width: $tablet) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: $phone) {
    .container {
        width: auto;
    }
}

.small-container {
    width: 900px;
    margin: 0 auto;
    padding: 0px 20px;
}

@media screen and (max-width: $wide-desktop) {
    .small-container {
        width: 980px;
    }
}

@media screen and (max-width: $desktop) {
    .small-container {
        width: 740px;
    }
}

@media screen and (max-width: $tablet) {
    .small-container {
        width: 500px;
    }
}

@media screen and (max-width: $phone) {
    .small-container {
        width: auto;
    }
}

@keyframes fade-in {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}