.admin {
    background-color: $grey;
}

.admin-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: $white;
    border-bottom: 1px solid $athens-gray;
    padding: 4px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: $zindex-6;
}

.admin-header__logo {
    color: $black;
    font-size: 1.2em;
    font-weight: 500;
}

a.admin-header__action {
    color: $black;

    &:first-child {
        margin-right: 10px;
        border: 1px solid $black;
        border-radius: $border-radius;
        padding: 6px 12px;
    }

    &:hover {
        color: $tundora;
        border-color: $tundora;
    }
}

.admin-sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 220px;
    height: 100%;
    background-color: $white;
    border-right: 1px solid $athens-gray;
}

.admin-sidebar__nav {
    margin-top: 20px;
}

.admin-sidebar__link {
    display: block;
    padding: 12px 0px 12px 26px;
    margin: 12px 0px;
    border-left: 5px solid $main-color;
    transform: translateX(-5px);
    color: $mako;
    font-size: 1.04em;
    transition: 0.2s all ease-in-out;

    i {
        margin-right: 4px;
    }

    &:hover {
        transform: translateX(0px);
        color: $main-color;
        font-weight: 500;
    }
}

.admin-sidebar__item--active {
    .admin-sidebar__link {
        transform: translateX(0px);
        color: $main-color;
        font-weight: 500;
    }
}

.admin-content {
    margin-left: 220px;
    margin-top: 64px;
    padding: 30px;
}

.admin-content__add {
    font-size: 0.5em;
}

.admin-form {
    margin-top: 20px;

    .form-group {
        button[type="submit"] {
            width: auto;
        }
    }
}

.admin-flash {
    position: fixed;
    bottom: 60px;
    right: 20px;
    padding: 20px;
    background-color: $white;
    border: 1px solid $athens-gray;
    border-radius: $border-radius;
    animation: flash 3s ease-in-out 0.5s forwards;
    transform: translateX(calc(100% + 20px));
    will-change: transform;
    z-index: $zindex-6;

    span {
        display: block;
        line-height: 1.4;
        max-width: 300px;
    }
}

.admin-flash--success {
    background-color: $success-color;
    color: $white;
    box-shadow: $box-shadow;
}

.admin-flash--error {
    background-color: $danger-color;
    color: $white;
    box-shadow: $box-shadow;
}

@keyframes flash {
    0% {
        transform: translateX(calc(100% + 20px));
    }

    20% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.admin-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-grid--pictures {
    .admin-grid__item {
        width: 25%;
    }
}

.admin-grid__item {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 10px;

    &:nth-child(4n + 1) {
        padding-left: 0px;
    }
}

.admin-grid--small {
    .admin-grid__item {
        &:nth-child(3n + 1) {
            padding-left: 0px;
        }

        &:nth-child(4n + 1) {
            padding-left: 0px;
        }
    }
}

.admin-grid__card {
    position: relative;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $athens-gray;
    border-radius: $border-radius;
}

.admin-grid__card__picture {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.admin-grid__card__title {
    margin-bottom: 8px;
}

.admin-grid__card__description {
    line-height: 1.5;
    color: $tundora;
}

.admin-grid__card__date {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 0.9em;
    color: $mako;
    margin-top: 20px;
    flex: 1 0 auto;
}

.admin-grid__card__actions {
    position: absolute;
    bottom: 30px;
    right: 30px;

    a {
        color: $black;

        &:first-child {
            margin-right: 4px;
        }

        &:hover {
            color: $main-color;
        }
    }
}

.admin-content__title {
    button[type="submit"] {
        font-size: 0.46em;
        margin-top: 0px;
        margin-left: 6px;
        transform: translateY(-4px);
        padding: 8px 18px;
    }
}