.footer {
    text-align: center;
    background-color: $grey;
    width: 100%;
    padding: 100px 20px;
    color: $mako;
    font-size: 0.94em;
}

.footer__logo {
    width: 105px;
    height: auto;
    margin-bottom: 14px;
}

.footer__copyright {
    margin-bottom: 4px;
}