.header {
    width: 100%;
    background-color: $grey;
    
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 20px;
    }
}

.header__nav {
    display: flex;
    align-items: center;

    ul li {
        display: inline-block;

        &.header__nav__item--active {
            a:before {
                transform: scaleX(1);
            }
        }

        a {
            position: relative;
            margin-right: 18px;
            color: $tundora;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                width: 100%;
                height: 3px;
                background-color: $tundora;
                transform-origin: right;
                transform: scaleX(0);
                will-change: transform;
                transition: transform 0.3s $easing;
            }

            &:hover {
                &:before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }

        &:last-child a {
                margin-right: 0px;
        }
    }
}

.header__nav__item--search {
    font-size: 1.16em;
}