<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title(title) }}</title>
        <meta name="description" content="{{ description is defined ? description : '' }}">

        <!-- Links -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.min.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}">
    </head>

    <body class="admin">
        <header class="admin-header">
            <div class="admin-header__logo">
                <p>Dashboard</p>
            </div>

            <div class="admin-header__actions">
                <a href="{{ url('index') }}" class="admin-header__action" title="Go to website" target="_blank">Go to website</a>
                <a href="{{ url('auth.logout') }}" class="admin-header__action" title="Log out">Log out</a>
            </div>
        </header>

        <div class="admin-sidebar">
            <nav class="admin-sidebar__nav">
                <ul>
                    <li class="admin-sidebar__item {{ page == 'pictures' ? 'admin-sidebar__item--active' : '' }}">
                        <a href="{{ url('admin.pictures.index') }}" class="admin-sidebar__link"><i class="zmdi zmdi-camera"></i> Pictures</a>
                    </li>

                    <li class="admin-sidebar__item {{ page == 'collections' ? 'admin-sidebar__item--active' : '' }}">
                        <a href="{{ url('admin.collections.index') }}" class="admin-sidebar__link"><i class="zmdi zmdi-camera-roll"></i> Collections</a>
                    </li>

                    <li class="admin-sidebar__item {{ page == 'about' ? 'admin-sidebar__item--active' : '' }}">
                        <a href="{{ url('admin.about') }}" class="admin-sidebar__link"><i class="zmdi zmdi-account"></i> About me</a>
                    </li>
                </ul>
            </nav>
        </div>

        {% for success in app.session.flashbag.get('success') %}
            <div class="admin-flash admin-flash--success">
                <span>{{ success }}</span>
            </div>
        {% endfor %}
        
        {% for error in app.session.flashbag.get('error') %}
            <div class="admin-flash admin-flash--error">
                <span>{{ error }}</span>
            </div>
        {% endfor %}

        <div class="admin-content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ asset('js/app.min.js') }}"></script>
        <script src="{{ asset('js/moment.js') }}"></script>
        <script src="{{ asset('js/moment_dates.min.js') }}"></script>
        
        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>