<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title(title) }}</title>
        <meta name="description" content="{{ description is defined ? description : '' }}">

        <!-- Links -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.min.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.ico') }}">
    </head>

    {% for success in app.session.flashbag.get('success') %}
        <div class="admin-flash admin-flash--success">
            <span>{{ success }}</span>
        </div>
    {% endfor %}

    <body class="default">
        {% include 'partials/header.twig' %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'partials/footer.twig' %}

        <script src="{{ asset('js/moment.js') }}"></script>
        <script src="{{ asset('js/moment_dates.min.js') }}"></script>
        <script src="{{ asset('js/app.min.js') }}"></script>
        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>