{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">About me</h1>
            <p class="jumbotron__description">Learn more about the man behind this huge beard...</p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="about">
                <div class="about__pictures">
                    <img src="{{ asset('img/vanschneider_1.jpg') }}" alt="Tobias Van Schneider">
                    <img src="{{ asset('img/vanschneider_2.jpg') }}" alt="Tobias Van Schneider">
                </div>

                <div class="about__content">
                    {{ about.value|markdown|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
