{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">Collections</h1>
            <p class="jumbotron__description">Here is all the collections I made to organize my pictures.</p>
        </div>
    </div>

    <div class="list">
        <div class="container">
            {% for collection in collections %}
                <a href="{{ url('collections.single', { slug: collection.slug }) }}">
                    <div class="list__item">
                        <h3 class="list__item__title">{{ collection.title }}</h3>
                        <p class="list__item__description">{{ collection.description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% if pagesCurrent > 1 %}
            <a href="{{ url('collections', { page: pagesCurrent - 1 }) }}" class="list__link list__link--prev" title="Previous collections">Previous collections</a>
        {% endif %}
        {% if pagesCurrent == 1 %}
            <a href="{{ url('collections') }}" class="list__link list__link--prev" title="Previous collections">Previous collections</a>
        {% endif %}
        {% if pagesCurrent < (pagesTotal - 1) %}
            <a href="{{ url('collections', { page: pagesCurrent + 1 }) }}" class="list__link list__link--next" title="Next collections">Next collections</a>
        {% endif %}
    </div>

{% endblock %}
