{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">{{ collection.title }}</h1>
            <p class="jumbotron__description">{{ collection.description }}</p>
        </div>
    </div>

    <div class="grid">
        <div class="container">
            {% for picture in collection.pictures %}
                <div class="grid__block">
                    <a href="{{ url('pictures.single', { slug: picture.slug }) }}">
                        <div class="grid__item" style="background-image: url('{{ uploads(picture.media) }}');"></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
