{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">Contact me</h1>
            <p class="jumbotron__description">Just to say hi or for a project, hit me up!</p>
        </div>
    </div>

    <div class="section">
        <div class="small-container">
            <div class="contact">
                {{ form_start(contact_form) }}
                    <div class="form-group">
                        {{ form_label(contact_form.email) }}
                        {% if form_errors(contact_form.email) %}
                            <div class="form-group-errors">
                                {{ form_errors(contact_form.email) }}
                            </div>
                        {% endif %}
                        {{ form_widget(contact_form.email, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(contact_form.subject) }}
                        {% if form_errors(contact_form.subject) %}
                            <div class="form-group-errors">
                                {{ form_errors(contact_form.subject) }}
                            </div>
                        {% endif %}
                        {{ form_widget(contact_form.subject, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(contact_form.message) }}
                        {% if form_errors(contact_form.message) %}
                            <div class="form-group-errors">
                                {{ form_errors(contact_form.message) }}
                            </div>
                        {% endif %}
                        {{ form_widget(contact_form.message, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(contact_form.submit, { attr: { class: 'btn btn-primary' } }) }}
                    </div>

                {{ form_end(contact_form) }}
            </div>
        </div>
    </div>

{% endblock %}
