{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">Error</h1>
            <p class="jumbotron__description">Well, something went wrong and I'm deeply sorry about that.</p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="about">
                <img src="{{ asset('img/error.gif') }}" alt="Error">
            </div>
        </div>
    </div>

{% endblock %}
