{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="jumbotron__title">I'm Tobias van Schneider a German <strong>award-winning designer</strong> raised in Austria & currently living in New York City.</h1>
            <a href="{{ url('about') }}" class="jumbotron__link">Learn more about me</a>
        </div>
    </div>

    <div class="grid">
        <div class="container">
            {% for picture in pictures %}
                <div class="grid__block">
                    <a href="{{ url('pictures.single', { slug: picture.slug }) }}">
                        <div class="grid__item" style="background-image: url('{{ uploads(picture.media) }}');"></div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <a href="{{ url('pictures') }}" class="grid__link grid__link--more">Discover all my pictures</a>
    </div>

    <div class="container">
        <hr class="separator">
    </div>

    <div class="list">
        <div class="small-container">
            {% for collection in collections %}
                <a href="{{ url('collections.single', { slug: collection.slug }) }}">
                    <div class="list__item">
                        <h3 class="list__item__title">{{ collection.title }}</h3>
                        <p class="list__item__description">{{ collection.description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <a href="{{ url('collections') }}" class="list__link list__link--more">Discover all my collections</a>
    </div>

{% endblock %}
