{% extends 'layouts/blank.twig' %}

{% block content %}
    <div class="login-form">
        <h1>Log in</h1>
        <div class="login-form__errors">
            {% for error in app.session.flashbag.get('error') %}
            <span class="login-form__error">{{ error }}</span>
            {% endfor %}
        </div>

        {{ form_start(contact_form) }}
            <div class="form-group">
                {{ form_label(contact_form.email) }}
                {% if form_errors(contact_form.email) %}
                    <div class="form-group-errors">
                        {{ form_errors(contact_form.email) }}
                    </div>
                {% endif %}
                {{ form_widget(contact_form.email, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_label(contact_form.password) }}
                {% if form_errors(contact_form.password) %}
                    <div class="form-group-errors">
                        {{ form_errors(contact_form.password) }}
                    </div>
                {% endif %}
                {{ form_widget(contact_form.password, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="form-group">
                {{ form_widget(contact_form.submit, { attr: { class: 'btn btn-primary' } }) }}
            </div>

        {{ form_end(contact_form) }}
    </div>
{% endblock %}