{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--single">
        <div class="container">
            <img src="{{ uploads(picture.media) }}" alt="{{ picture.title }}" class="jumbotron__picture">
        </div>
    </div>

    <div class="single">
        <div class="container">
            <h1 class="single__title">{{ picture.title }}</h1>
            {% if tags is not empty %}
                <div class="single__tags">
                    {% for tag in tags %}
                        <span class="single__tags__tag"><a href="{{ url('tags.single', { 'id': tag.id }) }}" title="{{ tag.title }}">{{ tag.title }}</a></span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if collection is not null %}
                <p class="single__meta">Featured in <a href="{{ url('collections.single', { 'slug': picture.collection.slug }) }}" title="{{ picture.collection.title }}">{{ picture.collection.title }}</a> - <span class="moment-date">{{ picture.created_at }}</span></p>
            {% else %}
                <p class="single__meta"><span class="moment-date">{{ picture.created_at }}</span></p>
            {% endif %}
            <p class="single__description">{{ picture.description }}</p>
        </div>
    </div>

{% endblock %}
