{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title">Pictures</h1>
            <p class="jumbotron__description">Here is all the pictures I had the pleasure to take in my small photographer career.</p>
        </div>
    </div>

    <div class="grid">
        <div class="container">
            {% for picture in pictures %}
                <div class="grid__block">
                    <a href="{{ url('pictures.single', { slug: picture.slug }) }}">
                        <div class="grid__item" style="background-image: url('{{ uploads(picture.media) }}');"></div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if pagesCurrent > 1 %}
            <a href="{{ url('pictures', { page: pagesCurrent - 1 }) }}" class="grid__link grid__link--prev">Previous pictures</a>
        {% endif %}
        {% if pagesCurrent == 1 %}
            <a href="{{ url('pictures') }}" class="grid__link grid__link--prev">Previous pictures</a>
        {% endif %}
        {% if pagesCurrent < (pagesTotal - 1) %}
            <a href="{{ url('pictures', { page: pagesCurrent + 1 }) }}" class="grid__link grid__link--next">Next pictures</a>
        {% endif %}
    </div>

{% endblock %}
