{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron jumbotron--small">
        <div class="container">
            <h1 class="jumbotron__title jumbotron__title--hashtag">{{ tag.title }}</h1>
            <p class="jumbotron__description moment-date">{{ tag.created_at }}</p>
        </div>
    </div>

    <div class="grid">
        <div class="container">
            {% for picture in tag.pictures %}
                <div class="grid__block">
                    <a href="{{ url('pictures.single', { slug: picture.slug }) }}">
                        <div class="grid__item" style="background-image: url('{{ uploads(picture.media) }}');"></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
