@charset "UTF-8";

// Fonts
$main-font: 'Roboto', sans-serif;
$heading-font: 'Merriweather', serif;

// Sidebar
$sidebar-width: 270px;

// Colors
$white: #ffffff;
$grey: #f7f7f7;
$athens-gray: #e3eaef;

$black: #1E1E22;
$tundora: #414141;
$mako: #6C6E74;

$main-color: #1573dd;
$main-color-hover: #1266C5;

$danger-color: #F44336;
$danger-color-hover: #E53935;

$warning-color: #FB8C00;
$warning-color-hover: #F57C00;

$success-color: #2ecc71;
$success-color-hover: #2ab665;

$easing: cubic-bezier(0.86, 0, 0.07, 1);

// Box shadow
$box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
$box-shadow-less: 0px 4px 30px 2px rgba(0, 0, 0, 0.05);
$box-shadow-less-hover: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 12px 40px 2px rgba(0, 0, 0, 0.15);


// Border radius
$border-radius: 3px;

// Transition
$transition: all 0.3s ease-in-out;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$phone: 544px;
$tablet: 768px;
$desktop: 1000px;
$wide-desktop: 1300px;

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;
$zindex-6: 25;
$zindex-7: 30;
